@model IEnumerable<SinExWebApp20256461.ViewModels.ShipmentsListViewModel>

@if (Model.Any())
{
    <p>The following are the shipments for the specified account.</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WaybillNumber)
            </th>
            <th>
                @Html.ActionLink("Service Type", "GenerateHistoryReport", new{
               sortOrder = ViewBag.ServiceTypeSortParm,
               ShippingAccountNumber = ViewBag.CurrentShippingAccountNumber,
               ShippedStartDate = ViewBag.CurrentShippedStartDate,
               ShippedEndDate = ViewBag.CurrentShippedEndDate,
                })
            </th>
            <th>
                @Html.ActionLink("Shipped Date", "GenerateHistoryReport", new{
               sortOrder = ViewBag.ShippedDateSortParm,
               ShippingAccountNumber = ViewBag.CurrentShippingAccountNumber,
               ShippedStartDate = ViewBag.CurrentShippedStartDate,
               ShippedEndDate = ViewBag.CurrentShippedEndDate,
           })
            </th>
            <th>
                @Html.ActionLink("Delivered Date", "GenerateHistoryReport", new
           {
               sortOrder = ViewBag.DeliveredDateSortParm,
               ShippingAccountNumber = ViewBag.CurrentShippingAccountNumber,
               ShippedStartDate = ViewBag.CurrentShippedStartDate,
               ShippedEndDate = ViewBag.CurrentShippedEndDate,
           })
            </th>
            <th>
                @Html.ActionLink("Recipient Name", "GenerateHistoryReport", new
           {
               sortOrder = ViewBag.RecipientNameSortParm,
               ShippingAccountNumber = ViewBag.CurrentShippingAccountNumber,
               ShippedStartDate = ViewBag.CurrentShippedStartDate,
               ShippedEndDate = ViewBag.CurrentShippedEndDate,
           })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPackages)
            </th>
            <th>
                @Html.ActionLink("Origin", "GenerateHistoryReport", new
           {
               sortOrder = ViewBag.OriginSortParm,
               ShippingAccountNumber = ViewBag.CurrentShippingAccountNumber,
               ShippedStartDate = ViewBag.CurrentShippedStartDate,
               ShippedEndDate = ViewBag.CurrentShippedEndDate,
           })
            </th>
            <th>
                @Html.ActionLink("Destination", "GenerateHistoryReport", new
           {
               sortOrder = ViewBag.DestinationSortParm,
               ShippingAccountNumber = ViewBag.CurrentShippingAccountNumber,
               ShippedStartDate = ViewBag.CurrentShippedStartDate,
               ShippedEndDate = ViewBag.CurrentShippedEndDate,
           })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @if (User.IsInRole("Employee"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.ShippingAccountNumber)
                </th>
            }
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <th>
                    @Html.ActionLink(item.WaybillNumber, "DisplayShipment", new { WaybillNumber = item.WaybillNumber })
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.ServiceType)
                </th>
                @if (item.Status == "picked_up" || item.Status == "invoice_sent" || item.Status == "delivered" || item.Status == "lost")
                {
                    <th>
                        @Html.DisplayFor(modelItem => item.ShippedDate)
                    </th>
                }
                else
                {
                    <th>N/A</th>
                }
                @if (item.Status == "delivered")
                {
                    <th>
                        @Html.DisplayFor(modelItem => item.DeliveredDate)
                    </th>
                }
                else
                {
                    <th>N/A</th>
                }
                <th>
                    @Html.DisplayFor(modelItem => item.RecipientName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.NumberOfPackages)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Origin)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Destination)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Status)
                </th>
                @if (User.IsInRole("Employee"))
                {
                    <th>
                        @Html.DisplayFor(modelItem => item.ShippingAccountNumber)
                    </th>
                }
            </tr>
        }
    </table>
}