@model IEnumerable<SinExWebApp20256461.Models.Shipment>

@{
    ViewBag.Title = "Manage Shipments";
}

<h2>Manage Shipments</h2>

@if (User.IsInRole("Customer"))
{
    <p>@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })</p>

    <div class="panel panel-success" style="display:inline-block">
        <div class="panel-heading" align="center">
            SYSTEM REQUIREMENTS 5.Package shipping
        </div>

        <h5 align="center">
            Customer: Arrange for package shipping
        </h5>

    </div>

}

@if (User.IsInRole("Employee"))
{
    <div class="row">
        <div class="col-md-4">
            <div class="btn-toolbar">
                @Html.ActionLink("Enter Actual Weight", "Index", new { EmployeeAction = "enter_weight" }, new { @class = "btn btn-default" })
                @Html.ActionLink("Enter Duty & Tax", "Index", new { EmployeeAction = "enter_tax" }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WaybillNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipient.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfPackages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>Operation</th>
    </tr>

@foreach (var item in Model)
{
    if (item.Status != "deleted")
    {
        <tr>
            <td>
                @Html.ActionLink(item.WaybillNumber, "DisplayShipment", new { WaybillNumber = item.WaybillNumber })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceType)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Recipient.FullName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPackages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (User.IsInRole("Employee"))
                {
                    if (item.Status == "picked_up")
                    {
                        @Html.ActionLink("Weight", "EnterWeight", new { id = item.WaybillId }, new { @class = "btn btn-default btn-sm" })
                        @Html.ActionLink("Duty&Tax", "EnterTax", new { id = item.WaybillId }, new { @class = "btn btn-default btn-sm" })
                        @Html.ActionLink("Authorization", "EnterAuthorization", new { id = item.WaybillId }, new { @class = "btn btn-default btn-sm" })
                    }
                    else
                    {
                        @Html.ActionLink("Weight", "EnterWeight", new { id = item.WaybillId }, new { @class = "btn btn-default btn-sm disabled" })
                        @Html.ActionLink("Duty&Tax", "EnterTax", new { id = item.WaybillId }, new { @class = "btn btn-default btn-sm disabled" })
                        @Html.ActionLink("Authorization", "EnterAuthorization", new { id = item.WaybillId }, new { @class = "btn btn-default btn-sm disabled" })
                    }
                }

                else if (User.IsInRole("Customer"))
                {
                    if (item.Status == "pending")
                    {
                        @Html.ActionLink("Edit", "EditCustomer", new { id = item.WaybillId }, new { @class = "btn btn-default btn-sm" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.WaybillId }, new { @class = "btn btn-danger btn-sm" })
                    }
                    else if (item.Status == "confirmed")
                    {
                        @Html.ActionLink("Edit", "EditCustomer", new { id = item.WaybillId }, new { @class = "btn btn-default btn-sm disabled" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.WaybillId }, new { @class = "btn btn-danger btn-sm" })
                    }
                    else
                    {
                        @Html.ActionLink("Edit", "EditCustomer", new { id = item.WaybillId }, new { @class = "btn btn-default btn-sm disabled" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.WaybillId }, new { @class = "btn btn-danger btn-sm disabled" })
                    }
                }

            </td>
        </tr>
    }
}
</table>



<div class="panel panel-primary" style="display:inline-block; float: right;">
    <div class="panel-heading" align="center" style="opacity: 0.7;">
        Tips: If you want to confirm the shipment waybill, please click "Edit" 
    </div>

    <h5 align="center">
        Once you have checked the waybill info, click "Continue" at the Bottom of Edit Page
    </h5>
    <h5 align="center">
        Status: pending --- confirmed --- picked_up --- invoice_sent --- delivered/lost/cancelled
    </h5>

</div>
