@model IEnumerable<SinExWebApp20256461.Models.ServicePackageFee>

@{
    ViewBag.Title = "Index";
}

<h2>Service/Package Fees</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PackageType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee)
        </th>
        <th>Fee(HKD)</th>
        <th>Fee(MOP)</th>
        <th>Fee(TWD)</th>
        <th>
            @Html.DisplayNameFor(model => model.MinimumFee)
        </th>
        <th>MinimumFee(HKD)</th>
        <th>MinimumFee(MOP)</th>
        <th>MinimumFee(TWD)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PackageType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee)
        </td>
        <td>
            @(item.Fee* (decimal)ViewBag.HKD)
        </td>
        <td>
            @(item.Fee * (decimal)ViewBag.MOP)
        </td>
        <td>
            @(item.Fee * (decimal)ViewBag.TWD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimumFee)
        </td>
        <td>
            @(item.MinimumFee * (decimal)ViewBag.HKD)
        </td>
        <td>
            @(item.MinimumFee * (decimal)ViewBag.MOP)
        </td>
        <td>
            @(item.MinimumFee * (decimal)ViewBag.TWD)
        </td>
        @if (User.IsInRole("Employee"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ServicePackageFeeID })
            </td>
        }
    </tr>
}

</table>
