@model IEnumerable<SinExWebApp20256461.Models.ServiceType>

@{
    ViewBag.Title = "Service Types";
}

<h2>Service Types</h2>
<div class="panel panel-success" style="display:inline-block">
    <div class="panel-heading" align="center">
        SYSTEM REQUIREMENTS
    </div>
    <div class="panel-body">
        <h5 align="center">
            4: Package types, service types and fees
        </h5>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutoffTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CutoffTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryTime)
        </td>
    </tr>
}

</table>
